* {
  box-sizing: border-box; }

ul {
  list-style-type: none;
  padding: 0px;
  text-align: center; }

p {
  color: #aaaaaa; }

.container {
  width: 80%;
  margin: 20px auto; }

.grid__row {
  display: flex;
  flex-direction: column;
  align-items: center; }

.theme__colors {
  background-color: #7ee6fd; }

.grid__row {
  width: 100%; }

.grid__col--3,
.grid__col--4,
.grid__col--5,
.grid__col--6,
.grid__col--7,
.grid__col--8,
.grid__col--12 {
  align-self: flex-start; }

.container {
  font-family: "Source Sans Pro", sans-serif; }

.headline--secondary {
  color: #aaaaaa;
  font-weight: 200;
  padding-left: 10px;
  margin-bottom: 20px;
  text-align: left; }

.headline--primary {
  color: #58e1c1;
  margin-bottom: 40px;
  font-weight: 900;
  width: 90%; }

.link {
  color: #51ddfc;
  font-weight: bold; }

.blockquote {
  font-style: italic;
  font-size: 1.4rem;
  color: #aaaaaa;
  border-radius: 5px;
  border-left: 8px solid #58e1c1;
  padding-left: 20px;
  margin: 40px 20px; }

.nav__item {
  border-radius: 5px;
  padding: 10px 0;
  width: 100%;
  text-align: center; }

a {
  color: #aaaaaa;
  text-decoration: none; }

.img--avatar {
  width: 150px; }

.img--frame {
  max-width: 100%;
  padding: 10px;
  border: 0.1px solid #aaaaaa; }

.btn--default {
  border-radius: 5px;
  border: 1px solid #51ddfc;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 10px 0;
  background-color: #51ddfc;
  width: 100%;
  line-height: 0.8;
  margin-top: 20px;
  font-size: 0.9rem; }

.btn--success {
  border-radius: 5px;
  border: 1px solid #51ddfc;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 10px 0;
  background-color: #51ddfc;
  width: 100%;
  line-height: 0.8;
  margin-top: 20px;
  font-size: 0.9rem;
  background-color: #51fc7e;
  border-color: #51fc7e; }

.btn--error {
  border-radius: 5px;
  border: 1px solid #51ddfc;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 10px 0;
  background-color: #51ddfc;
  width: 100%;
  line-height: 0.8;
  margin-top: 20px;
  font-size: 0.9rem;
  background-color: #fc5451;
  border-color: #fc5451; }

.btn--warning {
  border-radius: 5px;
  border: 1px solid #51ddfc;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 10px 0;
  background-color: #51ddfc;
  width: 100%;
  line-height: 0.8;
  margin-top: 20px;
  font-size: 0.9rem;
  background-color: #fcd451;
  border-color: #fcd451; }

.btn--info {
  border-radius: 5px;
  border: 1px solid #51ddfc;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 10px 0;
  background-color: #51ddfc;
  width: 100%;
  line-height: 0.8;
  margin-top: 20px;
  font-size: 0.9rem;
  background-color: #a951fc;
  border-color: #a951fc; }

.form__label--hidden {
  display: none; }

.form__input {
  width: 95%;
  font-weight: bold;
  font-size: 0.8rem;
  border: none;
  border-bottom: 5px solid #58e1c1;
  padding: 10px;
  margin-top: 20px; }

.form {
  text-align: center; }

/*# sourceMappingURL=style.css.map */
