
//media queries

@mixin mq($break) {
    @if $break == null {
        @error "`#{$break}` is not a valid breakpoint name.";
    }

    @else if $break == 'lg' {
        @media (min-width: $breakpoint-lg) {
            @content;
        }
    }
}

//flexbox settings

@mixin flexy($just,
            $disp: flex,
            $dir: column) {
    display: $disp;
    flex-direction: $dir;
    justify-content: $just;
        @content;
}

//themes mixin

@mixin themes($map) {
    @each $btn-type, $color in $map {
        &--#{$btn-type} {
            background-color: $color;
        }
    }
}