
//media queries

@mixin mq($break) {
    @if $break == null {
        @error "`#{$break}` is not a valid breakpoint name.";
    }

    @else if $break == 'lg' {
        @media (min-width: $breakpoint-lg) {
            @content;
        }
    }
}

//flexbox settings

@mixin flexy($just,
            $disp: flex,
            $dir: column) {
    display: $disp;
    flex-direction: $dir;
    justify-content: $just;
        @content;
}

//button themes mixin

@mixin buttonThemes($map) {
    @each $type, $color in $map {
        &.btn--#{$type} {
            background-color: $color;
            border-color: $color;
        }
    }
}

@mixin gridThemes($map) {
    @each $number, $color in $map {
        &.grid__col--#{$number} {
            background-color: $color;
            border-color: $color;
        }
    }
}