//fonts
$font-stack: 'Source Sans Pro', sans-serif;

//border rounding
$rounded: 5px;

//breakpoints
$breakpoint-lg: 1400px;

//colours
$primary-color: rgb(170, 170, 170);
$secondary-color: rgb(81, 221, 252);
$tertiary-color: rgb(88, 225, 193);

//grid-col count
$g-col-count: 12;