.container {
    width: 80%;
    margin: 20px auto;
}

//flexbox
.grid__row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
        @include mq() {
            flex-direction: row;
        }
}

//     .centered

.grid__col--2,
.grid__col--3,
.grid__col--4,
.grid__col--5,
.grid__col--6,
.grid__col--7,
.grid__col--8,
.grid__col--9,
.grid__col--10,
.grid__col--11,
.grid__col--12 {
    flex: 1;
        @include mq() {
            display: flex;
            justify-content: space-between;
        }
}

.grid__col--8 {
    @include mq() {
        display: flex;
        flex: 2;
    }
}

.grid__col--7 {
    @include mq() {
        flex: 1.5;
    }
}

// grid items
.theme__colors.grid__col--12 {
    @extend %grid-col;
    background-color: rgb(126, 230, 253);
    border-color: rgb(126, 230, 253);
}
.theme__colors.grid__col--6 {
    @extend %grid-col;
    background-color: rgb(63, 171, 232);
    border-color: rgb(63, 171, 232);
}
.theme__colors.grid__col--4 {
    @extend %grid-col;
    background-color: rgb(136, 230, 253);
    border-color: rgb(136, 230, 253);
}
.theme__colors.grid__col--3 {
    @extend %grid-col;
    background-color: rgb(222, 178, 238);
    border-color: rgb(222, 178, 238);
}
.theme__colors.grid__col--5 {
    @extend %grid-col;
    background-color: rgb(136, 212, 160);
    border-color: rgb(136, 212, 160);
}
.theme__colors.grid__col--7 {
    @extend %grid-col;
    background-color: rgb(236, 159, 163);
    border-color: rgb(236, 159, 163);
}
.theme__colors.grid__col--8 {
    @extend %grid-col;
    background-color: rgb(253, 159, 133);
    border-color: rgb(253, 159, 133);
}