.container {
    width: 80%;
    margin: 20px auto;
}

// grid item colors //
div.theme__colors {
    @include gridThemes($grid-color);
}

//--------flexbox container--------//
.grid__row {
@include flexy($just: space-between);
    margin-bottom: 20px;
        @include mq(lg) {
            flex-direction: row;
        }
}

@for $i from 1 through $g-col-count {
    .grid__col--#{$i} {
        flex: 1;
     }
}

@for $i from 1 through $g-col-count {
    .grid__col--#{$i}.theme__colors{
        @extend %grid-col;
     }
}

.grid__col--7.centered {
    @include mq(lg) {
        max-width: 60%;
        margin: 0 auto;
    }
}

//nav bar//
.grid__col--9 {
    @include mq(lg) {
        display: flex;
    }
}

//button section//
.grid__col--12 {
    @include mq(lg) {
        display: flex;
        &.theme__colors {
            display: block;
        }
    }
}

//typography section//
.grid__col--8 {
    @include mq(lg) {
        flex: 2;
    }
}

//grid-flex in grid section
.grid__col--7 {
    @include mq(lg) {
        flex: 1.5;
    }
}