.nav__item {
    width: 100%;
    text-align: center;
        a {
            border-radius: $rounded;
            color: $primary-color;
            text-decoration: none;
            display: block;
            padding: 10px 5px;
            transition: background-color 0.2s, color 0.3s, transform 0.2s;
        }
        & a:hover {
            color: white;
            background-color: $tertiary-color;
            font-weight: 600;
        }
        @include mq(lg) {
            display: inline-block;
            width: fit-content;
            margin: 0 10px;
        }
}

.grid__col--3 {
    @include mq(lg) {
        .img--logo {
            margin-left: 30px;
        }
    }
}

