
.container {
    font-family: $font-stack;
}

.headline--secondary {
    color: $primary-color;
    font-weight: 200;
    padding-left: 10px;
    margin-bottom: 20px;
    text-align: left;
}

.headline--primary  {
    color: $tertiary-color;
    margin-bottom: 40px;
    margin-left: 20px;
    font-weight: 900;
    width: 90%;
}

.link {
    color: $secondary-color;
    font-weight: bold;
}

.blockquote {
    font-style: italic;
    font-size: 1.4rem;
    color: $primary-color;
    border-radius: $rounded;
    border-left: 8px solid $tertiary-color;
    padding-left: 20px;
    margin: 40px 20px;
}